<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.PMslotmachine"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>PM SlotMachine</name>

    <description>
        Performance Management workshop role selection
    </description>

    <author href="http://rendonzarco.com" email="luise.rendon@gmail.com">
        Luis Rendon
    </author>

</widget>